<div class="container">
  <h1>글다시쓰기</h1>
  <form action="/update2/<%= @edit123.id %>" method="POST">
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="title2" class="form-control" value="<%= @edit123.title2 %>">
    </div>
    <div class="form-group">
      <label>Content</label>
      <textarea name="content2" class="form-control"><%=@edit123.content2%></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>