<div class="container" align="left">
  <div class="wrapper">
    <div class="well" style="height:200px; width:200px;">
      <h1>DOCTOR</h1>
      <% unless user_signed_in? %>
        <div class="buttons">
          <a href ="/users/sign_in"><button>Login</button></a>
          <a href ="/users/sign_up"><button>Register</button></a>
        </div>
      <% else %>
        <div class="buttons">
          <a href ="/home/index"><button>My Page</button></a>
        </div>
      <% end %>
    </div>
    <div class="well" style="height:200px; width:200px;">
      <h1>PATIENT</h1>
      <% unless patient_signed_in? %>
        <a href ="/patients/sign_in"><button>Login</button></a>
        <a href ="/patients/sign_up"><button>Register</button></a>
<<<<<<< 9ec7a286adfc1918130294431ed6ec7b04d998a4
      <% else %>
=======

        <% else %>
>>>>>>> second commit
        <div class="buttons">
          <a href ="/home/index2"><button>My Page</button></a>
        </div>
      <%end%>
    </div>
  </div>
</div>