<div class="container">
    <form action="/home/write" method="POST">
      <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" class="form-control" placeholder="Title">
      </div>
      <div class="form-group">
        <label>Content</label>
        <textarea name="content" class="form-control" placeholder="Content"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>