<div class="container">
  <h1>Patient List</h1>
  <br>
  <table id="myTable" class="display">
    <thead>
      <tr>
        <th>Email</th>
        <th>number</th>
        <th>view</th>
      </tr>
    </thead>
    <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= patient.email %></td>
          <td><%= patient.id %></td>
          <td><%= patient.detailcoms.length %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>